<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- DAO를 구현하지 않고 DAO 인터페이스에서 지시하는 메서드명을 Mapper의 id명으로 바로 사용할 예정 -->
<mapper namespace="com.ezen.myProject.repository.FileDAO">
	<insert id="insertFile">
		insert into file (uuid, save_dir, file_name, file_type, bno, file_size) 
		values (#{uuid}, #{save_dir}, #{file_name}, #{file_type}, #{bno}, #{file_size})
	</insert>
	<select id="selectFileList" resultType="com.ezen.myProject.domain.FileVO">
		select * from file where bno = #{bno}
	</select>
	<delete id="deleteFile">
		delete from file where uuid = #{uuid}
	</delete>
</mapper>